.homeContainer{ 
    padding-left: 8em;
    padding-right: 8rem;
}
.welcomeContainer{ 
    margin-top: 3rem;
    background-color: #f9f6f1;
    padding: 2rem;
    border-radius: 5px;
}
.welcomeHeader{ 
    font-size: 700;
    font-family: var(--bodyFont);
    margin-bottom: 0.7rem;
}
.welcomeText{ 
    width: 35%;
    font-family: var(--bodyFont);
    margin-bottom: 1rem;
}
.welcomeForm{ 
    display: flex;
    gap: 15px
}
.welcomeForm > input{ 
    width: 20%;
    border-radius: 5px;
    height: 55px;
    background-color: white;
}
.welcomeForm > input:active{ 
    border: none;
}
.welcomeButton{ 
    background-color: black;
    height: 55px;
    width: fit-content;
    display: flex;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}
.welcomeButton > p{ 
    color: white;
    padding: 2rem;

}
.welcomeAdd{ 
    font-family: var(--bodyFont);
    cursor: pointer;
}
.homeCard{ 
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    grid-column: 1/7;
    gap: 10px;
}